<!DOCTYPE html>
<html>
<head>
  <title>Clean It</title>
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'clean_schedule/style.css' %}" />
</head>
<body>
  <h1>Clean It</h1>
  {% if user.is_authenticated %}
    <p>Welcome {{ user.username }} </p>
  {% endif %}
  <ul>
    <li><a href="/clean_schedule/log_in">Log in</a></li>
    <li><a href="/clean_schedule/sign_up">Sign Up</a></li>
    {% if user.is_authenticated %}
      <li><a href="/clean_schedule/groups/create_group">Create a group</a></li>
      <li><a href="/clean_schedule/schedule">View schedule</a></li>
    {% endif %}
  </ul>
</body>
</html>
